---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Mikel-Jon (Mike) West" description="Page not found">
    <h1>Oh no!</h1>
    <h2>This might be an issue. Or a feature? Yeah, let's say we meant to go here.</h1>
    <p>Better go <a href="/">Back Home</a></p>
</BaseLayout>