---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Biography" tagline="About Mikel-Jon West">

<p><strong>Mikel-Jon (Mike) West</strong> is a <b>Writer, Director, Video Editor, Graphic Designer, and Technician,</b> holding a <b>Bachelor of Fine Arts</b> degree in <b>Media Arts.</b> His journey in the industry began at <b>Acme Television,</b> where he began as a <b>Master Control Operator</b> and later served as a <b>Promotions Editor,</b> crafting compelling on-air advertising copy for contests and event week programming on <b>New Mexico's CW and My50TV.</b> Mike studied <b>Technical Film Training,</b> working on set in commercial and studio film productions in various crew positions, most notably hiring background actors for <b>USA Network's "In Plain Sight,"</b> and the 2013 feature film, <em>Odd Thomas.</em></p>

<p>Mike had also been active in the independent filmmaking scene. Notably, he co-wrote <em>Cross</em> for <b>Blank Stare Pictures</b> in 2004, a film that earned the prestigious <b>Best Feature Film award at Tromadance New Mexico.</b> The same year, the short film, <b>"Laser Squad Action Force!"</b> clinched <b>the Best Science Fiction award at the Primate Memory Factory 5-Minute Film Competition.</b></p>

<p>In 2012, Mike founded <b>Mega Ultra Studios,</b> a creative hub specializing in <b>feature films, short films, music videos, and promotional content for performing artists.</b> His creative ingenuity reached new heights with the 2014 feature film, <em>Left for Dead,</em> a modern homage to exploitation films.</p>

<p>Recent years have seen Mike's versatile skills applied to crafting engaging <b>promotional material, including book trailers and intros for YouTube and TikTok channels.</b> Additionally, Mike has been collaborating with <b>Byrdman Group</b> since 2015, co-writing, editing, and directing award-winning short films at the Albuquerque 48 Hour Film Festival, catalyzing many careers for the casts and crews involved.</p>

<p>Beyond his professional achievements, Mikel-Jon West is recognized for his commitment to inclusivity, actively supporting and collaborating with a spectrum of creative professionals—from producers and writers to actors and musicians—representing diverse backgrounds. Unafraid to tackle controversy, his unique approach involves using satire and wit to address contemporary issues. Whether engaged in team efforts or working independently, Mike's readiness to take on creative challenges has marked him as a valuable contributor in the world of filmmaking.</p>

</BaseLayout>