---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Showcase from "../components/Showcase.astro";

const projects = await Astro.glob('../projects/*.md');
---

<Layout title="Project Categories" >
    <Showcase heading="Project Categories" text="What kind of projects does Mike work on?" />
    <section class="page-content">
        <div class="container">
            {projects.map(project.frontmatter.categories =>(
                <Card>
                    <a class="btn" href={`/${categories}`}>{categories}</a>
                    </Card>
            ))}

        </div>
    </section>
</Layout>