---
import Features from "../components/Features.astro";
import Showcase from "../components/Showcase.astro";
import Features from '../components/Features.astro';
import Layout from "../layouts/Layout.astro";
const name = 'Mikel-Jon West'
---

<Layout>
    <Showcase showExtra={true} />
    <Features />
    <div>
<h1>Heyyyyy {name} </h1>

<p>But this is so much easier than word!</p>

</div>
</Layout>

