---

---

<style>
    section {
        background-color: var(--yellow);
        color: var(--dark-blue);
    }
</style>

<section>
    <h2>Secondary Heading</h2>
    <button type="button">Buttons</button>
</section>