---

---

<style>
    section {
        background-color: var(--red);
        color: var(--dark-blue);
    }
</style>

<section>
<div class="container">
    <div class="even-columns">
        <div><p>Message</p></div>
        <div>
    <button type="button" data-type="inverted">BOP</button>
</div>
</div>
</div>
</section>