---

---
<style>
    a {
        text-decoration: none;
    }
</style>

<header>
    <div class="container">
        <a href="/">poop</a>
    <nav>
        <ul role="list" class="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="/about/">Bio</a></li>
        </ul>
        </nav>
        <botton class="button">This is a button.</botton>
    </div>
</header>