---
interface Props {
  src?: string;
  greeting?: string;
}

const { greeting = "Hello", src = 'https://www.youtube-nocookie.com/embed/dsTXcSeAZq8' } = Astro.props;
---

<div class="video-container">
    <iframe
    title="Astro in 100 Seconds"
src=[src]
frameborder="0"
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
allowfullscreen
    >
        
    </iframe>
</div>

<style>
    .video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
</style>